<div class="row">
    <div class="head col-4">
        <div>
            <a href="" routerLink="/" class="header">
                <strong>
                    <p>THE</p>
                    <p>SNEAKER</p>
                    <p>STORE</p>
                </strong>
            </a>
        </div>
    </div>

    <div class="menu col-8">
        <span id="menu-set">
            <form action="">
                <input type="text" name="search" placeholder="Type to search...">
                <button type="submit">
                    <i class="fa fa-search" aria-hidden="true" id="searchbtn"></i>
                </button>
                <button>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
            </form>
            <ul class="nav">
                <li>
                    <a class="nav-item" href="#">SHOP</a>
                </li>
                <li>
                    <a class="nav-item" href="#">ABOUT</a>
                </li>
                <li>
                    <a class="nav-item" href="#">BLOG</a>
                </li>
                <li>
                    <a href="" class="nav-item" routerLink="/signin">LOGIN</a>
                </li>
            </ul>
        </span>
    </div>
</div>