<div class="col-4">
<form action="" id="signup">
  <strong>Sign up to ZneakerZ Store</strong><br>
  <input type="text" name="name" placeholder="Name" [(ngModel)]="name"><br>
  <input type="email" name="email" placeholder="Email" [(ngModel)]="email"><br>
  <input type="password" name="password" placeholder="Password" [(ngModel)]="password"><br>
  <input type="text" name="address" placeholder="Address" [(ngModel)]="address"><br>
  <input type="text" name="phone" placeholder="Phone Number" [(ngModel)]="phone_number"><br>
  <button type="submit" (click)="SignUp()">Register</button>
  <br>
</form>
</div>